<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма для редактирования человека</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">
    <br><br>
    <label for="username">Имя</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <br>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <label for="email">емайл</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <label for="password">пароль</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br>
    <label for="role"> Select role</label>
    <select id="role" th:field="*{roles}" multiple>
        <option th:each="role:${roles}" th:value="${{role}}" th:text="${role.roleName}"/>
    </select>
    <br/>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>

