<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta charset="ISO-8859-1">-->
    <title>Title</title>
</head>
<body>

<p>Вход только зарегистрированным пользователям</p>
<a href="/users">Нажми</a>
<!--<form th:action="@{/users}" th:object="${user}" method="post">-->
<!--    <p>-->
<!--        <label>Roles:-->

<!--            <input type="checkbox" name="roles"-->
<!--                   th:each="role :${allRoles}"-->
<!--                   th:text="${role.getRoleName()}"-->
<!--                   th:value="${role.id}"-->
<!--                   th:field="*{allRoles}"-->
<!--            />-->
<!--        </label>-->
<!--    </p>-->
<!--</form>-->
</body>
</html>